<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <link rel="stylesheet" href="{CSS_PATH}/index/buy.css">
    <link rel="stylesheet" href="{CSS_PUB}swiper.min.css">

    <script src="{JS_PUB}rem.js"></script>
    <script src="{JS_PUB}jquery.js"></script>
    <script src="{JS_PUB}swiper.min.js"></script>

</head>
<body>
<header>
    <a href="javascript:history.back()" class="but"><i class="iconfont icon-54"></i></a>
    <h1 class="header_title">购物车(<span class="totalNumber g_num">3</span>)</h1>
    <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
</header>
<section>
    <ul class="item">
        {foreach $data as $v}
        <li class="goods" data-gid="{$v['gid']}">
            <div class="choose"></div>
            <a href=""><img src="{$v['gthumb']}" alt=""></a>
            <div class="con">
                <h1 class="name">{$v['gname']}</h1>
                <h3 class="ename"><i>{$v['genname']}</i></h3>
                <p class="type">规格：<span>{$v['spec']}<span class="unit">&nbsp;枝装</span></span></p>
                <p class="price">价格：<strong class="jiage">{$v['gprice']}</strong></p>
            </div>
            <div class="num">
                <div class="number">
                    <div class="input-sub">
                        <i class="iconfont icon-icon-arrow-left2"></i>
                    </div>
                    <div class="input-num">
                        <input type="text" value="{$v['nums']}">
                    </div>
                    <div class="input-add">
                        <i class="iconfont icon-icon-arrow-right2"></i>
                    </div>
                </div>
                <div class="del">&nbsp;删&nbsp;&nbsp;除</div>
            </div>
            <i class="iconfont icon-dui"></i>
        </li>
       {/foreach}
    </ul>
</section>


<footer>
    <div class="footer_one">
        <div class="one_num">
            <span>共<span><strong class="totalNumber">1</strong>件，合计：<strong class="totalPrice">299</strong>元</span></span>
        </div>
        <div class="one_pay">
            <a href="/flowerAPP/index.php/pay/index">去结算</a>
        </div>

    </div>
    <div class="footer_two">
        <a href="/flowerApp/index.php/index"><i class="iconfont icon-shouye"></i></a>
        <a href="/flowerApp/index.php/lists/index"><i class="iconfont icon-daohang"></i></a>
        <a href="/flowerApp/index.php/buy" class="but_frist"><i class="iconfont icon-gouwuche"></i></a>
        <a href="/flowerApp/index.php/person"><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
    </div>

</footer>
    <script src="{JS_INDEX_PATH}buy.js"></script>