<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width,inifial-scale:1.0;maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" href="../../../static/css/public/base.css">
    <link rel="stylesheet" href="../../../static/css/index/buy.css">
    <link rel="stylesheet" href="../../../static/iconfont/iconfont.css">
    <script src="../../../static/js/public/rem.js"></script>
    <script src="../../../static/js/public/jquery.js"></script>
    <script src="../../../static/iconfont/iconfont.js"></script>
    <script src="../../static/js/templete/buy.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()" class="but"><i class="iconfont icon-address"></i></a>
    <h1 class="header_title">购物车(<span class="totalNumber g_num">3</span>)</h1>
    <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
</header>
<section>
    <ul class="item">
        <li class="goods" data-gid="">
            <div class="choose"></div>
            <a href=""><img src="../../static/image/payImg/pay_1.png" alt=""></a>
            <div class="con">
                <h1 class="name">婚礼手捧花</h1>
                <h3 class="ename">WEDDING FLOWER</h3>
                <p class="color">颜色：<span>白粉</span></p>
                <p class="type">规格：<span>12<span>支装</span></span></p>
                <p class="price">价格：<strong class="jiage">299</strong></p>
            </div>
            <div class="num">
                <div class="number">
                    <div class="input-sub">
                        <i class="iconfont icon-icon-arrow-left2"></i>
                    </div>
                    <div class="input-num">
                        <input type="text" value="1">
                    </div>
                    <div class="input-add">
                        <i class="iconfont icon-icon-arrow-right2"></i>
                    </div>
                </div>
                <div class="del">&nbsp;删&nbsp;&nbsp;除</div>
            </div>
            <i class="iconfont icon-dui show"></i>
        </li>
        <li class="goods">
            <div class="choose"></div>
            <a href=""><img src="../../static/image/payImg/pay_2.png" alt=""></a>
            <div class="con">
                <h1 class="name">婚礼手捧花</h1>
                <h3 class="ename">WEDDING FLOWER</h3>
                <p class="color">颜色：<span>白粉</span></p>
                <p class="type">规格：<span>12<span>支装</span></span></p>
                <p class="price">价格：<strong class="jiage">299</strong></p>
            </div>
            <div class="num">
                <div class="number">
                    <div class="input-sub">
                        <i class="iconfont icon-icon-arrow-left2"></i>
                    </div>
                    <div class="input-num">
                        <input type="text" value="1">
                    </div>
                    <div class="input-add">
                        <i class="iconfont icon-icon-arrow-right2"></i>
                    </div>
                </div>
                <div class="del">&nbsp;删&nbsp;&nbsp;除</div>
            </div>
            <i class="iconfont icon-dui show"></i>
        </li>
        <li class="goods">
            <div class="choose"></div>
            <a href=""><img src="../../static/image/payImg/pay_1.png" alt=""></a>
            <div class="con">
                <h1 class="name">婚礼手捧花</h1>
                <h3 class="ename">WEDDING FLOWER</h3>
                <p class="color">颜色：<span>白粉</span></p>
                <p class="type">规格：<span>12<span>支装</span></span></p>
                <p class="price">价格：<strong class="jiage">299</strong></p>
            </div>
            <div class="num">
                <div class="number">
                    <div class="input-sub">
                        <i class="iconfont icon-icon-arrow-left2"></i>
                    </div>
                    <div class="input-num">
                        <input type="text" value="1">
                    </div>
                    <div class="input-add">
                        <i class="iconfont icon-icon-arrow-right2"></i>
                    </div>
                </div>
                <div class="del">&nbsp;删&nbsp;&nbsp;除</div>
            </div>
            <i class="iconfont icon-dui show"></i>
        </li>
    </ul>
</section>


<footer>
    <div class="footer_one">
        <div class="one_num">
            <span>共<span><strong class="totalNumber">1</strong>件，合计：<strong class="totalPrice">299</strong>元</span></span>
        </div>
        <div class="one_pay">
            <a href="pay.html">去结算</a>
        </div>

    </div>
   <div class="footer_two">
        <a href="index.html" ><i class="iconfont icon-shouye"></i></a>
        <a href="list.html"><i class="iconfont icon-daohang"></i></a>
        <a href="buy.html" class="buy_hot"><i class="iconfont icon-gouwuche"></i></a>
        <a href="personal.html"><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
    </div>

</footer>

</body>
</html>