<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>详情页</title>

    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <link rel="stylesheet" href="{CSS_PATH}index/details.css">
    <script src="{JS_PUB}rem.js"></script>
    <script src="{JS_PUB}jquery.js"></script>
    <script src="{JS_INDEX_PATH}details.js"></script>
</head>
<body>
<div class="top">
    <img src="{IMG_PATH}lqimg/huana__20.png" alt="">
    <a class="left" href="javascript:history.back()" style="z-index: 999"><i class="iconfont icon-54"></i></a>
    <a class="right" href="javascript:history.back()"><i class="iconfont icon-wodefenxiang"></i></a>
    {foreach $data as $v}
    <span class="span1">{$v['gname']}</span>
    <span class="span2">TO THE MOST BEAUTIFUL YOU</span>
</div>

<div class="boss">
    <div class="box1"></div>
    <div class="box">
        <div class="imgbox">
            {assign var=foo value=explode(',',{$v['gslide']})}
            <img src="{$foo[0]}" alt="">

        </div>
    </div>
    <div class="p">
        <div class="p1">
            PINK ROSE
        </div>
        <div class="p2">
            RMB {$v['gprice']}.00
        </div>
    </div>
    <div class="p">
        <div class="p1">
            规格
        </div>
        <div class="p2">
            {assign var=foo value=explode(',',{$v['gspec']})}
            {for $i=0 to count($foo)-1}
            <div class="p2_1">{$foo[$i]}</div>
            {/for}
        </div>
    </div>

    <div class="p">
        <div class="p1">
            数量
        </div>
        <div class="p2">

            <div class="p2_3">-</div>
            <div class="p2_2">1</div>
            <div class="p2_3 p2_4">+</div>
        </div>
    </div>
    <a href="" class="buy">
        <span class="span1">立即购买</span>
        <div class="span2">PURCHASE IMMEDIATELY</div>
    </a>
    <div class="title">
        <hr>
        <div class="title_con">
            <div class="p1">HOT ARTLCLES</div>
            <div class="p2">Product details</div>
            <div class="p3">产 品 详 情</div>
        </div>
    </div>
    <div class="xq">
        <img src="{$v['gimg']}" alt="">
    </div>
    <div class="listnav">
        {assign var=foo value=explode(',',$v['gpicture'])}
        {assign var=foo2 value=explode('^',$v['gdesc'])}
        {for $i=0 to count($foo)-1}
        {for $i=0 to count($foo2)-1}
        <div class="list">
            <div class="left">

                <img src="{$foo[$i]}" alt="">

            </div>
            {$foo2[$i]}
        </div>
        {/for}
        {/for}
    </div>
</div>
{/foreach}
<div class="footer">
    <a href=""><i class="iconfont icon-kefu"></i></a>
    <a href="#" class="active"><i class="iconfont icon-xiaoxi1"></i></a>
    <a href=""><i class="iconfont icon-shiwujiaoxing"></i></a>
    <a href="#" class="shops"><img src="{IMG_PATH}lqimg/huana_40.png" alt=""></a>
</div>
<div class="mask">
    {for $i=0 to count($comments)-1}
    <div class="list">
        <div class="head">
            <img src="{$user[$i]['upicture']}" alt="">
        </div>
        <span class="span1">{$user[$i]['unickname']}</span>
        <span class="span2">{$comments[$i]['mdate']}</span>
        <div class="i">
            {for $j=1 to $comments[$i]['msatisfaction']}
            <i class="iconfont icon-shiwujiaoxing star"></i>
            {/for}
            {for $k=1 to 5-$comments[$i]['msatisfaction']}
            <i class="iconfont icon-shiwujiaoxing"></i>
            {/for}
        </div>
        <br>
        <span class="span3">{$comments[$i]['mcontent']}</span>
    </div>
    {/for}

    <div class="error">×</div>
    <div class="evaluate">我也要评论</div>
</div>
<div class="shop">
    <img src="{IMG_PATH}lqimg/hua_03.png" alt="">
    <div class="error">×</div>
</div>
<form class="eval">
    <a class="left" href="#"><i class="iconfont icon-54"></i></a>
    <a class="right" href="#"><i class="iconfont icon-wodefenxiang"></i></a>
    <div class="span">评论发表</div>
    <div class="text">
        <textarea name="mcontent" id="" maxlength="200" title=""></textarea>
        <div class="file">
            <div class="files">
                <span>+</span>
            </div>
            <input type="file" style="opacity: 0;">
            <input type="hidden" name="mpicture" class="mpicture">
            <p>UPLOAD PLCTUR</p>
        </div>
        <div class="msatisfaction">
            <input type="hidden" id="msatisfaction" name="msatisfaction" title="" value="0">
            <i class="iconfont icon-shiwujiaoxing"></i>
            <i class="iconfont icon-shiwujiaoxing"></i>
            <i class="iconfont icon-shiwujiaoxing"></i>
            <i class="iconfont icon-shiwujiaoxing"></i>
            <i class="iconfont icon-shiwujiaoxing"></i>
        </div>
        <input type="hidden" name="gid" value="{$gid}">
        <div class="num">
            <span class="num1">0</span>
            <span class="num2">/</span>
            <span class="num3">200</span>
        </div>
    </div>
    <input type="submit">
</form>
</body>
</html>