<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,inifial-scale:1.0;maximum-scale=1.0,user-scalable=0">
	<title>详情页</title>
	<link rel="stylesheet" href="../../../static/iconfont/iconfont.css">
	<link rel="stylesheet" href="../../../static/css/public/base.css">
	<link rel="stylesheet" href="../../../static/css/index/details.css">
	<script src="../../../static/js/public/rem.js"></script>
	<script src="../../../static/js/public/jquery.js"></script>
	<script src="../../static/js/templete/details.js"></script>
</head>
<body>
	<div class="top">
		<img src="../../static/image/lqimg/huana__20.png" alt="">
		<a class="left" href="javascript:history.back()" style="z-index: 999"><i class="iconfont icon-54"></i></a>
		<a class="right" href="javascript:history.back()"><i class="iconfont icon-wodefenxiang"></i></a>
		<span class="span1">粉 玫 瑰</span>
		<span class="span2">TO THE MOST BEAUTIFUL YOU</span>
	</div>
	<div class="boss">
		<div class="box1"></div>
		<div class="box">
			<div class="imgbox">
				<img src="../../static/image/lqimg/hua__03.png" alt="">
				<img src="../../static/image/lqimg/hua__03.png" alt="">
			</div>
		</div>
		<div class="p">
			<div class="p1">
				PINK ROSE
			</div>
			<div class="p2">
				RMB 360.00
			</div>
		</div>
		<div class="p">
			<div class="p1">
				规格
			</div>
			<div class="p2">
				<div class="p2_1">12</div>
				<div class="p2_1">36</div>
				<div class="p2_1">1314</div>
			</div>
		</div>
		<div class="p">
			<div class="p1">
				数量
			</div>
			<div class="p2">
				<div class="p2_3">-</div>
				<div class="p2_2">8</div>
				<div class="p2_3 p2_4">+</div>
			</div>
		</div>
		<a href="" class="buy">
			<span class="span1">立即购买</span>
			<div class="span2">PURCHASE IMMEDIATELY</div>	
		</a>
		<div class="title">
			<hr>
			<div class="title_con">
				<div class="p1">HOT ARTLCLES</div>
				<div class="p2">Product  details</div>
				<div class="p3">产 品 详 情</div>
			</div>
		</div>
		<div class="xq">
			<img src="../../static/image/lqimg/hua__14.png" alt="">
		</div>
		<div class="listnav">
			<div class="list">
				<div class="left">
					<img src="../../static/image/lqimg/hua__22.png" alt="">
				</div>
				<div class="right">
					<div class="span1">产品实拍</div>
					<div class="span2">THE MOST BEAUTIFUL</div>
					<div class="span2">MEETING IN LIFE</div>
					<p>人生中,相遇最美。当一颗心与另一颗心,相遇相惜,便是最珍贵的一份情缘。
						而后,便有了思念。美丽的心情,秋叶飞杨的季节,好想告诉你:你,是我生命中最美丽的相遇。
					</p>
				</div>
			</div>
			<div class="list">
				<div class="left">
					<img src="../../static/image/lqimg/hua__22.png" alt="">
				</div>
				<div class="right">
					<div class="span1">产品实拍</div>
					<div class="span2">THE MOST BEAUTIFUL</div>
					<div class="span2">MEETING IN LIFE</div>
					<p>人生中,相遇最美。当一颗心与另一颗心,相遇相惜,便是最珍贵的一份情缘。
						而后,便有了思念。美丽的心情,秋叶飞杨的季节,好想告诉你:你,是我生命中最美丽的相遇。
					</p>
				</div>
			</div>
			<div class="list">
				<div class="left">
					<img src="../../static/image/lqimg/hua__22.png" alt="">
				</div>
				<div class="right">
					<div class="span1">产品实拍</div>
					<div class="span2">THE MOST BEAUTIFUL</div>
					<div class="span2">MEETING IN LIFE</div>
					<p>人生中,相遇最美。当一颗心与另一颗心,相遇相惜,便是最珍贵的一份情缘。
						而后,便有了思念。美丽的心情,秋叶飞杨的季节,好想告诉你:你,是我生命中最美丽的相遇。
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<a href=""><i class="iconfont icon-kefu"></i></a>
		<a href="#" class="active"><i class="iconfont icon-xiaoxi1"></i></a>
		<a href=""><i class="iconfont icon-shiwujiaoxing"></i></a>
		<a href="#" class="shops"><img src="../../static/image/lqimg/huana_40.png" alt=""></a>
	</div>
	<div class="mask">
		<div class="list">
			<div class="head">
				<img src="../../static/image/lqimg/hua_23.png" alt="">
			</div>
			<span class="span1">BLACK GENTLEMAN</span>
			<span class="span2">13分钟前</span>
			<div class="i">
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-ai65"></i>
			</div>
			
			<br>
			<span class="span3">花的颜色很正,物流也很快,五星好评</span>
		</div>
		<div class="list">
			<div class="head">
				<img src="../../static/image/lqimg/hua_12.png" alt="">
			</div>
			<span class="span1">花泽小姐</span>
			<span class="span2">1小时前</span>
			<div class="i">
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-ai65"></i>
			</div>
			
			<br>
			<span class="span3">这是不错的花呢</span>
		</div>
		<div class="list">
			<div class="head">
				<img src="../../static/image/lqimg/hua_20.png" alt="">
			</div>
			<span class="span1">花语</span>
			<span class="span2">01  05</span>
			<div class="i">
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-ai65"></i>
			</div>
			
			<br>
			<span class="span3">花不错,推荐给别别人了</span>
		</div>
		<div class="list">
			<div class="head">
				<img src="../../static/image/lqimg/hua_17.png" alt="">
			</div>
			<span class="span1">爱花的小姐</span>
			<span class="span2">01  06</span>
			<div class="i">
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-shiwujiaoxing"></i>
				<i class="iconfont icon-ai65"></i>
			</div>
			<br>
			<span class="span3">一级棒~</span>
			<br>
			<div class="img">
				<img src="../../static/image/lqimg/hua__07.png" alt="">
				<img src="../../static/image/lqimg/hua__09.png" alt="">
			</div>
		</div>
		<div class="error">×</div>
		<div class="evaluate">我也要评论</div>
	</div>
	<div class="shop">
		<img src="../../static/image/lqimg/hua_03.png" alt="">
		<div class="error">×</div>
	</div>
	<div class="eval">
		<a class="left" href="#"><i class="iconfont icon-54"></i></a>
		<a class="right" href="#"><i class="iconfont icon-wodefenxiang"></i></a>
		<div class="span">评论发表</div>
		<textarea name="" id="" maxlength="200" >
		</textarea>
		<div class="file">
			<div class="files">
				<span>+</span>
			</div>
			<input type="file" style="opacity: 0;">
			<p>UPLOAD PLCTUR</p> 
		</div>
		<div class="num">
			<span class="num1">0</span> 
			<span class="num2">/</span>
			<span class="num3">200</span>
		</div>
		<input type="submit">
	</div>
</body>
</html>