<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <link rel="stylesheet" href="{CSS_PUB}swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}index/header_fo.css">
    <script src="{JS_PUB}rem.js"></script>
    <script src="{JS_PUB}jquery.js"></script>
    <script src="{JS_PUB}swiper.min.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()" class="but"><i class="iconfont icon-address"></i></a>
    <a href=""><img src="{IMG_INDEX_PATH}index_title_03.png" alt="" h> </a>
    <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
</header>
