<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <link rel="stylesheet" href="{CSS_PUB}base.css">
    <link rel="stylesheet" href="{CSS_PUB}swiper.min.css">
    <link rel="stylesheet" href="{CSS_PATH}index/header_fo.css">
    <link rel="stylesheet" href="{CSS_PATH}index/index.css">
    <script src="{JS_PUB}rem.js"></script>
    <script src="{JS_PUB}jquery.js"></script>
    <script src="{JS_PUB}swiper.min.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()" class="but"><i class="iconfont icon-address"></i></a>
    <a href=""><img src="{IMG_INDEX_PATH}index_title_03.png" alt="" h> </a>
    <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
</header>
<nav>
    <ul>

        <li>
            <div class="nav_frist"></div>
            <a href="#" class="write"><span>精选</span></a>
        </li>
        <li><a href="#"><span>优惠</span></a></li>
        <li><a href="#"><span>节日</span></a></li>
        <li><a href="#"><span>花言花语</span></a></li>
    </ul>
</nav>
<div class="con">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="{IMG_INDEX_PATH}banner_03.png" alt=""></div>
            <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 1</div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="hot">
        <div class="hot_title"><img src="{IMG_INDEX_PATH}goods_title_03.png" alt=""></div>
        <div class="hot_goodsB">
            <div class="ones">
                <div class="hot_goods">
                    <a href="" class="top">
                        <img src="{IMG_INDEX_PATH}goods_03.png" alt="">
                    </a>
                    <div class="bottom">
                        <p class="xu"> 粉玫瑰</p>
                        <p class="mon">
                            <span>PINK ROSE</span>
                            <span class="reds">360.00</span>
                        </p>
                        <div class="zan">
                            <span><i class="iconfont icon-xin"></i>273840</span>
                            <span><i class="iconfont icon-xin"></i>273840</span>
                        </div>
                    </div>
                </div>
                <div class="hot_goods">
                    <a href="" class="top">
                        <img src="{IMG_INDEX_PATH}goods_03.png" alt="">
                    </a>
                    <div class="bottom">
                        <p class="xu"> 粉玫瑰</p>
                        <p class="mon">
                            <span>PINK ROSE</span>
                            <span class="reds">360.00</span>
                        </p>
                        <div class="zan">
                            <span><i class="iconfont icon-xin"></i>273840</span>
                            <span><i class="iconfont icon-xin"></i>273840</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ones">
                <div class="hot_goods">
                    <a href="" class="top">
                        <img src="{IMG_INDEX_PATH}goods_03.png" alt="">
                    </a>
                    <div class="bottom">
                        <p class="xu"> 粉玫瑰</p>
                        <p class="mon">
                            <span>PINK ROSE</span>
                            <span class="reds">360.00</span>
                        </p>
                        <div class="zan">
                            <span><i class="iconfont icon-xin"></i>273840</span>
                            <span><i class="iconfont icon-xin"></i>273840</span>
                        </div>
                    </div>
                </div>
                <div class="hot_goods">
                    <a href="" class="top">
                        <img src="{IMG_INDEX_PATH}goods_03.png" alt="">
                    </a>
                    <div class="bottom">
                        <p class="xu"> 粉玫瑰</p>
                        <p class="mon">
                            <span>PINK ROSE</span>
                            <span class="reds">360.00</span>
                        </p>
                        <div class="zan">
                            <span><i class="iconfont icon-xin"></i>273840</span>
                            <span><i class="iconfont icon-xin"></i>273840</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flow">
        <div class="title">
            <img src="{IMG_INDEX_PATH}flow_07.png" alt="">
        </div>
        <a href="" class="gu">
            <div class="pos">
                <p>2017</p>
                <p>01 05</p>
            </div>
            <img src="{IMG_INDEX_PATH}banner_bottom_07.png" alt="">
        </a>
        <a href="" class="gu">
            <div class="pos">
                <p>2017</p>
                <p>01 06</p>
            </div>
            <img src="{IMG_INDEX_PATH}banner_bottom_10.png" alt="">
        </a>
    </div>
</div>
<footer>
    <a href="index.html" class="but_frist"><i class="iconfont icon-shouye"></i></a>
    <a href="list.html"><i class="iconfont icon-daohang"></i></a>
    <a href="buy.html"><i class="iconfont icon-gouwuche"></i></a>
    <a href="personal.html"><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
</footer>
</body>
</html>
<script src="{JS_INDEX_PATH}index.js"></script>
<script>

</script>