<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<meta charset="UTF-8">
	<title>fen lei</title>
     <link rel="stylesheet" href="../../../static/css/public/base.css">
	<link rel="stylesheet" type="text/css" href="../../../static/iconfont/iconfont.css">
	<link rel="stylesheet" type="text/css" href="../../../static/css/index/list.css">
     <link rel="stylesheet" href="../../../static/css/index/header_fo.css">
	<script src="../../../static/js/public/rem.js"></script>
	<script src="../../../static/js/public/jquery.js"></script>
</head>
<body>
     <header>
        <a href="javascript:history.back()" class="but"><i class="iconfont icon-address"></i></a>
        <a href=""><img src="../../static/image/index/index_title_03.png" alt=""h>  </a>
        <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
    </header>
     <div class="fen_banner ">
     	<a href="list_show.html">
               <img src="../../static/image/dimage/fen_banner.png" border=0 width="670" height="380">
          	<div class="nei1">花艺
        			<div class="wenz">FLOVER ART</div>
          	</div>
               </div>
          </a>
     <div class="fen_banner1">
     	<a href="list_show.html"><img src="../../static/image/dimage/fen_flower.png">
     	<div class="nei2">鲜花
     		<div class="wenz1">FREFS FLOVER</div>
     	</div>
     </div></a>
     <div class="fen_banner2">
     	<a href="list_show.html"><img src="../../static/image/dimage/fen_flower1.png">
     	<div class="nei3">盆栽
     		<div class="wenz2">POTTED PLANT</div>
     	</div>
     </div></a>
     <footer>
        <a href="index.html" class=""><i class="iconfont icon-shouye"></i></a>
        <a href="list.html" class="but_frist"><i class="iconfont icon-daohang"></i></a>
        <a href="buy.html"><i class="iconfont icon-gouwuche"></i></a>
        <a href="personal.html"><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
    </footer>
</body>
</html>

