{include file='view/index/header.html'}
<link rel="stylesheet" href="{CSS_PATH}index/list_show.css">
{foreach $data as $v}
<a href="">
    <div class="huana1">
        <div class="xq_tu">
            <img src="{$v['gthumb']}">
        </div>
        <div class="xq_zi">
            <div class="xq_zm">{$v['gname']}<br>
                <span>WEDDING FLOWER</span></div>
            <div class="xq_jiage">
                规格：
                {assign var=foo value=explode(',',{$v['gspec']})}
                {$foo[0]}
                价格:    <span>{$v['gprice']}</span>
            </div>
        </div>
        <a href="/flowerApp/index.php/details?gid={$v['gid']}">
            <div class="xq_tyuan">商品详情</div>
        </a>
        <a href="">
            <div class="xq_tyuan">更多</div>
        </a>
    </div>
</a>
{/foreach}
<footer>
    <a href="/flowerApp/index.php/index" ><i class="iconfont icon-shouye"></i></a>
    <a href="/flowerApp/index.phpsts/index" class="but_frist"><i class="iconfont icon-daohang"></i></a>
    <a href="/flowerApp/index.php/buy/index"><i class="iconfont icon-gouwuche"></i></a>
    <a href="/flowerApp/index.php/person"><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
</footer>
</body>
</html>
