{include file='view/index/header.html'}
<link rel="stylesheet" href="{CSS_PATH}index/list.css">

	{foreach $data as $v}
     <div class="fen_banner ">
     	<a href="/flowerApp/index.php/list_show?cid={$v['cid']}">
               <img src="{$v['cthumb']}" border=0 width="670" height="380">
          	<div class="nei1">{$v['cname']}
			<div class="wenz">{$v['cenname']}</div>
          	</div>

          </a>
     </div>
	{/foreach}

<footer>
	<a href="/flowerApp/index.php/index" ><i class="iconfont icon-shouye"></i></a>
	<a href="/flowerApp/index.php/lists/index" class="but_frist"><i class="iconfont icon-daohang"></i></a>
	<a href="/flowerApp/index.php/buy"><i class="iconfont icon-gouwuche"></i></a>
	<a href="/flowerApp/index.php/person"><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
</footer>
</body>
</html>

