<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	<title>Document</title>
	<link rel="stylesheet" href="iconfont/iconfont.css">
	<link rel="stylesheet" href="css/new.css">
	<script src="js/rem.js"></script>

</head>
<body>
	<div class="header">

		<a href="javascript:history.back()"><i class="iconfont icon-54"></i></a>
		<span>消 息</span>
	
	</div>
	<div class="main">
	<div class="p p2">
		<div class="span1">5X限时特惠,64GB下单立省200</div>
		<div class="span2">变焦双摄,5.5寸大屏轻薄全金属,立即购买 > </div>
		<div class="span2">3 月 1 日</div>
	</div>
	<div class="p p2">
		<div class="span1">5X限时特惠,64GB下单立省200</div>
		<div class="span2">变焦双摄,5.5寸大屏轻薄全金属,立即购买 > </div>
		<div class="span2">3 月 1 日</div>
	</div>
	<div class="p p2">
		<div class="span1">5X限时特惠,64GB下单立省200</div>
		<div class="span2">变焦双摄,5.5寸大屏轻薄全金属,立即购买 > </div>
		<div class="span2">3 月 1 日</div>
	</div>
	<div class="p p2">
		<div class="span1">5X限时特惠,64GB下单立省200</div>
		<div class="span2">变焦双摄,5.5寸大屏轻薄全金属,立即购买 > </div>
		<div class="span2">3 月 1 日</div>
	</div>
	</div>





</body>
</html>