<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{ICON_PATH}iconfont.css">
    <link rel="stylesheet" href="{CSS_PATH}index/order_detail.css">
    <script src="{JS_PUB}rem.js"></script>
    <script src="{JS_PUB}jquery.js"></script>
</head>
<body>
<header>
    <a href="javascript:history.back()" class="but"><i class="iconfont icon-54"></i></a>
    <h1 class="header_title">订单详情</h1>
    <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
</header>
<section>
    <div class="order">
        <p>订单编号：5171119894201064</p>
        <p>订单状态：已收货</p>
        <a href="" class="apply">申请售后</a>
    </div>
    <div class="goods">
        <div class="goods_img">
            <img src="{IMG_INDEX_PATH}goods_13.png" alt="">
        </div>
        <p class="goods_info">手捧花<span class="type">12</span>支装</p>
    </div>
    <div class="detail">
        <p>
            <span>下单日期：</span>
            <span>2017/11/19  12:02</span>
        </p>
        <p>
            <span>收货地址：</span>
            <span>山西太原市小店区平阳路学府街口</span>
        </p>
        <p>
            <span>收货人名：</span>
            <span>花娜</span>
            <span>123456789</span>
        </p>
        <p>
            <span>收货时间：</span>
            <span>不限收货时间</span>
        </p>

    </div>
    <div class="detail">
        <p>
            <span>商品价格：</span>
            <span>299元</span>
        </p>
        <p>
            <span>配送费用：</span>
            <span>0元</span>
        </p>
        <p>
            <span>订单总价：</span>
            <span>299元</span>
        </p>

    </div>
</section>
</body>
</html>