<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="../../../static/js/public/rem.js"></script>
    <link rel="stylesheet" href="../../../static/css/public/base.css">
    <link rel="stylesheet" href="../../../static/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../../static/css/index/register.css">
</head>
<body>
    <div class="logo"></div>
    <div class="zhanwei"></div>
    <div class="signin">
        <div class="user">
            <div class="waiyuan">
                <i class="iconfont icon-geren2" ></i>
            </div>
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入您的账号或者用户名">
        </div>
        <div class="pass">
            <div class="waiyuan">
                <i class="iconfont icon-icon2" ></i>
            </div>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入您的密码">
        </div>
        <div class="pass">
            <div class="waiyuan">
                <i class="iconfont icon-icon2" ></i>
            </div>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="请再次输入您的密码">
        </div>
        <div class="pass">
            <div class="waiyuan">
                <i class="iconfont icon-icon2" ></i>
            </div>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="请填写您的手机号">
        </div>
        <div class="yanzhengma">
            <div class="yanzheng"></div>
            <div class="fasong">
                <h5>发送验证码</h5>
            </div>
        </div>

    </div>
    <div class="liji">
        <a href="Signin.html">
            <h4>返回登录</h4>
        </a>
        <h5>Begin to swim in the sea</h5>
    </div>
</body>
</html>