<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../../static/iconfont/iconfont.css">
  <link rel="stylesheet" href="../../../static/css/public/base.css">
  <link rel="stylesheet" href="../../../static/css/index/header_fo.css">
  <link rel="stylesheet" href="../../../static/css/index/index.css">
  <link rel="stylesheet" href="../../../static/css/public/swiper.min.css">
  <script src="../../../static/js/public/rem.js"></script>
  <script src="../../../static/js/public/swiper.min.js"></script>
  <meta name="viewport" content="width=device-width,inifial-scale:1.0;maximum-scale=1.0,user-scalable=0">
</head>
<body>
    <header>
        <a href="" class="but"><i class="iconfont icon-address"></i></a>
        <a href=""><img src="../../static/image/index/index_title_03.png" alt=""h>  </a>
        <a href="" class="but"><i class="iconfont icon-sousuo"></i></a>
    </header>
    <nav>
        <ul>
            <li><a href="" class="nav_frist">精选</a></li>
            <li><a href="">优惠</a></li>
            <li><a href="">节日</a></li>
            <li><a href="">花言花语</a></li>
        </ul>
    </nav>
    <div class="con">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="../../static/image/index/banner_03.png" alt=""></div>
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 1</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <div class="hot">
            <div class="hot_title"><img src="../../static/image/index/goods_title_03.png" alt=""></div>
            <div class="hot_goodsB">
                <div class="ones">
                    <div class="hot_goods">
                        <a href="" class="top">
                            <img src="../../static/image/index/goods_03.png" alt="">
                        </a>
                        <div class="bottom">
                            <p class="xu"> 粉玫瑰</p>
                            <p class="mon">
                                <span>PINK ROSE</span>
                                <span class="reds">360.00</span>
                            </p>
                            <div class="zan">
                                <span><i class="iconfont icon-xin"></i>273840</span>
                                <span><i class="iconfont icon-xin"></i>273840</span>
                            </div>
                        </div>
                    </div>
                    <div class="hot_goods">
                        <a href="" class="top">
                            <img src="../../static/image/index/goods_03.png" alt="">
                        </a>
                        <div class="bottom">
                            <p class="xu"> 粉玫瑰</p>
                            <p class="mon">
                                <span>PINK ROSE</span>
                                <span class="reds">360.00</span>
                            </p>
                            <div class="zan">
                                <span><i class="iconfont icon-xin"></i>273840</span>
                                <span><i class="iconfont icon-xin"></i>273840</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ones">
                    <div class="hot_goods">
                        <a href="" class="top">
                            <img src="../../static/image/index/goods_03.png" alt="">
                        </a>
                        <div class="bottom">
                            <p class="xu"> 粉玫瑰</p>
                            <p class="mon">
                                <span>PINK ROSE</span>
                                <span class="reds">360.00</span>
                            </p>
                            <div class="zan">
                                <span><i class="iconfont icon-xin"></i>273840</span>
                                <span><i class="iconfont icon-xin"></i>273840</span>
                            </div>
                        </div>
                    </div>
                    <div class="hot_goods">
                        <a href="" class="top">
                            <img src="../../static/image/index/goods_03.png" alt="">
                        </a>
                        <div class="bottom">
                            <p class="xu"> 粉玫瑰</p>
                            <p class="mon">
                                <span>PINK ROSE</span>
                                <span class="reds">360.00</span>
                            </p>
                            <div class="zan">
                                <span><i class="iconfont icon-xin"></i>273840</span>
                                <span><i class="iconfont icon-xin"></i>273840</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="flow">
               <div class="title">
                 <img src="../../static/image/index/flow_07.png" alt="">
               </div>
               <a href="" class="gu">
                <div class="pos">
                    <p>2017</p>
                    <p>01 05</p>
                </div>
                <img src="../../static/image/index/banner_bottom_07.png" alt="">
               </a>
               <a href="" class="gu">
                <div class="pos">
                                   <p>2017</p>
                                   <p>01 06</p>
                  </div>
                <img src="../../static/image/index/banner_bottom_10.png" alt="">
               </a>
          </div>
    </div>
    <footer>
        <a href=""class="but_frist"><i class="iconfont icon-shouye"></i></a><a href=""><i class="iconfont icon-daohang"></i></a><a href=""><i class="iconfont icon-gouwuche"></i></a><a href=""><i class="iconfont icon-iconfontgerenzhongxin"></i></a>
    </footer>
</body>
</html>
<script>
    var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',
      },
    });
</script>