body{
    background: url("../../image/payImg/bg.png") no-repeat;
   background-size: 100%;
}

header{
    width: 100%;
    height: 1.2rem;
    background-color: #ff9c71b0;
    position: fixed;
    top: 0;
    left: 0;
    padding:  0.2rem .3rem;
    box-sizing: border-box;
}
header>.but{
    background-color: #fff;
    width: 0.47rem;
    height: 0.47rem;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-top: .2rem;
}
header>.but>i{
    color: #ff7c81;
    font-size: 0.4rem;
    text-align: center;
    line-height: .47rem;
}
header >.header_title{
    color: #fff;
    font-size: .4rem;
    letter-spacing: 3px;
    float: left;
    text-align: center;
    margin-top: .15rem;
    margin-left: 2.2rem;
}

section{
    margin-top: 1.2rem;
    width: auto;
}
.address{
    background:#f9b4977d;
    padding: .3rem;
    height: auto;
    position: relative;
    border-bottom: 1px solid #cccccc;
}
.address>.adr_one{
    margin-bottom: .1rem;
}
.address>.adr_one .name,.tel{
   font-size: .32rem;
    font-weight: 600;
    color:#333;
}
.address>.adr_two p{
    font-size: .28rem;
    color:#5d5c5c;
    letter-spacing: 2px;
}
.address .you{
    position: absolute;
    bottom:.5rem;
    right:.5rem;
}
.address .you i{
    font-size: .4rem;
   color:#B4B4B4;
}
.pay{
    width: 100%;
    background: #f6c0a985;
}
.pay ul{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.pay ul li{
    width: 6.5rem;
    height: 1rem;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.pay ul li .iconfont{
   font-size: .6rem;
    color:#ff9c71;
    position: absolute;
    right:0;
    bottom:.2rem;
    display: none;
}
.pay ul li .iconfont.show{
    display: block;
}
.pay ul .unchecked{
    background: url("../../image/payImg/check_normal.png") 6rem 50% no-repeat;
    background-size: .4rem .4rem; filter: drop-shadow(0px 0px 0px #A9A9A9);

}
.pay ul li .weixin{
    background: url(../../image/payImg/pay_wx.png) 0 50% no-repeat;
    background-size: .5rem .5rem;
    overflow: hidden;
}
.pay ul li .zhifubao{
    background: url(../../image/payImg/pay_zfb2.png) 0 50% no-repeat;
    background-size: .5rem .5rem;
    overflow: hidden;
}
.pay ul li .yinlian{
    background: url(../../image/payImg/pay_yl1.png) 0 50% no-repeat;
    background-size: .5rem .5rem;
    overflow: hidden;
}
.pay ul li  span{
    float: left;
    line-height: 1rem;
}
.pay ul li  span:first-child{
    font-size: 0.28rem;
    margin:0 .2rem 0 .8rem;
}
.pay ul li  span:last-child{
    font-size: 0.24rem;
    color:#8f8d8df7;
    letter-spacing: 1px;
}

.goods{
    width: 100%;
    height: auto;
    background: #f3c9b680;
}
.goods ul{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.goods ul li{
    width: 6.5rem;
    /*height: 1rem;*/
    padding: .1rem  0;
    margin: 0 auto;
    border-bottom: 1px solid #7F7F7F;
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
}
.goods ul li .box{
    width: .8rem;
    height: .8rem;
    margin-right: .1rem;
}
.goods ul li .title p{
    width: 4rem;
    font-size: .26rem;
}
.goods ul li .price .num,.pri ,span{
    font-size: .26rem;
    letter-spacing: 1px;
}




footer{
    width: 100%;
    position: fixed;
    left:0;
    bottom: 0;
    border-top: 1px solid #e0e0e0;
    background: #ffffff;
}
.tips{
    width: 100%;
    background: #f3d3a59c;
    color: #b57842;
    padding: .12rem .2rem;
}
.tips p{
    line-height: .3rem;
    font-size: .26rem;
}
.payment{
    height: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.payment .p-price{
    width: 50%;
    height: 100%;
    background: #ffffff;
}
.payment .p-price strong,.pp{
    display: block;
    float: left;
    font-size: .28rem;
    line-height: 1rem;
    color: #ff9c71;
}
.payment .p-price strong{
    font-weight: 600;
    font-size: .36rem;
}
.payment .p-price .totalNumber{
    color: #ff9c71;
    font-size: .36rem;
}
.payment .p-price .pp{
    margin-left: 15%;
}
.payment .p-pay{
    width: 50%;
    height: 100%;
    background: #ff9c71;
}
.payment .p-pay .buy{
    display: block;
    font-size: .3rem;
    color: #fff;
    line-height: 1rem;
    text-align: center;
}
