body{
    background-image: url("../../image/wsimg/denglu_1_03.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 3.66rem;
    height: 3.39rem;
    background-image: url("../../image/wsimg/denglu_03.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 1.9rem;
    left:1.92rem;
}
.zhanwei{
    height: 6.06rem;
}
.signin{
    width: 5.82rem;
    height: 2.6rem;
    background-color: #fff;
    margin:0 auto;
    border-radius: 0.2rem;
    margin-bottom: 0.3rem;
}
.signin .user{
    width: 5.1rem;
    height: 0.6rem;
    margin:0 auto;
    padding-top: 0.44rem;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 0.1rem;
}
.waiyuan{
    width: 0.36rem;
    height: 0.36rem;
    background-color: #FF6363;
    border-radius: 50%;
    display: flex;
    align-self: center;
    margin-top: 0.12rem;
}
.waiyuan .iconfont{
    font-size: 0.2rem;
    color:#fff;
    line-height: 0.2rem;
    margin:0 auto;
    display: flex;
    align-self: center;
    float:left;
}
input{
    width: 3.76rem;
    height: 0.6rem;
    position: absolute;
    left:0.6rem;
    bottom: 0;
    font-size: 0.24rem;
}
.pass{
    width: 5.1rem;
    height: 0.6rem;
    margin:0 auto;
    padding-top: 0.44rem;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.forget{
    width: 5.08rem;
    height: 0.28rem;
    padding-bottom: 0.58rem;
    margin:0 auto;

}
.forget .back{
    width: 1.1rem;
    height: 0.35rem;
    background-color: #FF6363;
    border-radius: 0.14rem;
    float:left;
}
.forget .back h5{
    font-size: 0.18rem;
    color: #fff;
    text-align: center;
    line-height: 0.35rem;

}
.forget .jizhu{
    width: 0.56rem;
    height: 0.28rem;
    background-color: #FF6363;
    border-radius: 0.3rem;
    border:0.02rem solid #FFB853;
    float:right;
    display: flex;

}
.forget .jizhu .baiyuan{
    width: 0.22rem;
    height: 0.22rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-self: center;
}
.liji{
    width: 3rem;
    height: 0.65rem;
    background-color: #fff;
    border:0.02rem solid #FF5748;
    border-radius: 1rem;

    margin:0 auto;
    position: relative;
}
.liji h4{
    color:#FF6363;
    text-align: center;
    font-weight: bold;
}
.liji h5{
    font-size: 0.20rem;
    font-weight: bold;
    color:#FFBBBB;
    position: absolute;
    top:0.33rem;
    left:0.36rem;
}
.xian{
    width: 5.8rem;
    height: 0.14rem;
    margin:0 auto;
    margin-top: 0.62rem;
    background-image: url("../../images/dian_03.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.zheli{
    width:2rem;
    height: 0.26rem;

    margin:0 auto;

}
.zheli h4{
    margin:0 auto;
    color:#fff;
    font-weight: bold;
    font-size: 0.26rem;
}
.fangshi{
    width: 5.8rem;
    height: 0.7rem;
    padding-top: 0.4rem;
    margin:0 auto;
}
.fangshi ul{
    display: flex;
    justify-content: space-between;
}
.fangshi ul li{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
}
.fangshi ul li .iconfont{
    position: absolute;
    font-size: 0.7rem;
    color: #FF9C71;
    top: -0.03rem;

}
