{include file='view/management/left_tmp.html'}
<link rel="stylesheet" href="{CSS_PATH}input.css">
<script src="{JS_PATH}manage_activity.js"></script>
    <div class="content">
        <form action="">
            <div class="form-group">
                <label for="exampleInputName">活动（中文）主题</label>
                <input type="text" class="form-control" id="exampleInputName" placeholder="商品中文名称" name="aname">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">活动（英文）主题</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="GOODS-English-Name" name="aenname">
            </div>
            <div class="form-group banner">
                <label for="exampleInputBanner">活动banner图</label>
                <input type="file" id="exampleInputBanner">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <input type="hidden" name="abanner" class="abanner">
            <div class="form-group" >
                <label for="exampleInputSpec">商品</label>
                <select class="form-control" id="exampleInputSpec" multiple size="5" style="padding: 0;">
                    {foreach $goods as $v}
                    <option value="{$v['gid']}">{$v['gname']}</option>
                    {/foreach}
                </select>
            </div>
            <input type="hidden" name="gid" class="gid">
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>
</body>
</html>